:root {
	--text: #000000; /* Default placed here in case we want to change to option later */
	--secondary-text: rgb(107, 0, 62);
	--primary: #9b6ecd;
	--primary2: #cad6ec;
	--secondary: #acd1e4;
}

* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	border: 0;
	font: 1.1em;
	font-family: Lora, "Times New Roman", Times, serif;
}

a {
	text-decoration: none;
	font-family: Cabin, Arial, Helvetica, sans-serif;
	color: var(--text);
}

/* Navigation Styles */

#toptop {
	display: block;
}

#toptop p {
	margin: 9px;
	padding: 0;
}

#topTwo {
	border: 1px solid black;
	border-radius: 20px;
	padding: 5px;
	margin: 5px 20px;
	background: var(--primary2);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

#topThree {
	border: 1px solid black;
	border-radius: 20px;
	padding: 5px;
	margin-bottom: 2px;
	background: var(--primary2);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

#balancer {
	width: 30px;
}

header {
	display: flex;
	justify-content: space-around;
	background: var(--primary2);
	margin: 0;
	padding: 0;
}

.dropdown-arrow {
	display: inline-block;
	transform: rotate(90deg);
	margin-left: 4px;
	vertical-align: sub;
	font-weight: bold;
}

/* Heading Styles */
h1 {
	font-size: 2em;
	text-align: center;
	font-family: Cabin, Arial, Helvetica, sans-serif;
}

h2 {
	text-align: center;
	font-size: 1.5em;
	font-family: Cabin, Arial, Helvetica, sans-serif;
}

h4 {
	align-items: center;
	font-family: Cabin, Arial, Helvetica, sans-serif;
}

h3,
h5,
h6 {
	font-family: Cabin, Arial, Helvetica, sans-serif;
}

/* Button Styles */
button {
	margin: 20px 0 30px 25px;
	width: 200px;
	height: 30px;
	transition: transform 0.3s ease;
	border-radius: 10px;
	font-family: Alkatra, Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: var(--text);
	background: var(--primary2);
}

button:active,
button:hover {
	background: var(--secondary);
	color: var(--secondary-text);
}

button:active,
input[type="submit"]:active {
	background-color: var(--primary2);
	color: var(--secondary-text);
}

.button-container {
	display: flex;
	justify-content: center; /* Horizontally center the flex items */
	align-items: center;
}

/* Call to Action */

.cta1 {
	position: block;
	margin: 0;
}

.cta2 {
	position: block;
	margin: -30px auto 20px auto;
	padding: 2px;
	text-align: center;
	width: 80%;
	margin-top: 2px;
	background: var(--primary2);
	border: 2px solid black;
	border-radius: 20px;
	text-decoration: underline;
}

/* Body Styles */

.homeImg {
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
}

.homeImg img {
	width: 100%;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: var(--primary2);
}

.container3 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	background: var(--primary2);
}

.container2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: var(--primary2);
}

.services {
	margin: 0 5px;
	width: 100%;
}

.services a {
	font-size: 0.95em;
}

.services img {
	width: 100%;
	border-radius: 10px;
}

/* Therapy Styles */

#css-group img {
	width: 100%;
}

.therapy-container {
	display: static;
	background: var(--primary2);
	width: 100%;
}

.therapy-container2 {
	background: var(--primary2);
	padding: 20px 0;
	width: 100%;
}

.therapy img {
	display: block;
	width: 100%;
	border-radius: 10px;
}

.therapy h2 {
	font-size: 2em;
}

.therapy h3 {
	font-size: 1.1em;
}

/* Staff Page Styles */

.staffHeader {
	width: 100%;
}

.staff h4,
.staff2 h4,
.dristre h4,
.pam h4 {
	margin: 0;
	font-size: 1.3em;
}

.staff h5,
.staff2 h5,
.dristre h5,
.pam h5 {
	margin: 0;
	font-size: 1.2em;
}

.staff ul li,
.staff2 ul li {
	font-size: 1.1em;
}

.staff {
	text-align: center;
	flex: 1 1 350px;
	margin: 10px 20px;
}

.staff ul {
	list-style: none;
	margin-left: -35px;
}

.staff img {
	width: 100%;
	margin-top: 20px;
	border-radius: 10px;
}

.dristre {
	text-align: center;
}

.dristre img {
	width: 100%;
}

.staff2 {
	display: flex;
	text-align: center;
	flex-direction: column;
}

.staff2 div {
	order: 2;
}

.staff2 ul {
	list-style: none;
	margin-left: -35px;
}

.staff2 img {
	order: 1;
	width: 100%;
	margin-top: 20px;
	border-radius: 10px;
	z-index: 1000;
}

.pam {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.pam div {
	order: 2;
}

.pam img {
	order: 1;
	width: 100%;
	margin-top: 20px;
	border-radius: 10px;
}

/* Therapy Pups Styles */

.pups {
	border-radius: 50%;
	width: 100%;
}

figcaption {
	text-align: center;
	margin-top: 10px;
	font-weight: bold;
	font-size: 1.3em;
}

figure ul {
	list-style: none;
	text-align: center;
	margin-left: -30px;
}

/* Newletter Styles */

article {
	font-size: 1.1em;
	width: 100%;
}

article img {
	width: 100%;
	border-radius: 10px;
}

article h6 {
	margin: 0;
}

/* Schedule Styles */
.table {
	background: var(--primary2);
	margin-top: 5px;
	padding: 50px 0;
}

.staffpic img {
	width: 100%;
	border-radius: 40%;
}

.thead {
	font-size: 1em;
	text-align: center;
}

.sm-thead {
	text-align: left;
}

.table1,
.table2 {
	width: 100%;
	border: 2px solid black;
}

/* Location Styles */

.location {
	display: block;
	margin-bottom: 50px;
}

.location img {
	width: 100%;
}

/* Contact Page Styles */

.form-container {
	font-weight: bold;
	font-size: 0.8em;
}

#msg {
	margin-bottom: 30px;
}

#msg {
	margin-bottom: 30px;
}

.input-div label {
	display: block;
	margin-bottom: 5px;
	word-wrap: break-word;
}

.input-div input[type="text"],
.input-div input[type="tel"],
.input-div textarea {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	margin-bottom: 15px;
}

.input-div input[type="text"]:hover,
.input-div input[type="tel"]:hover,
.input-div textarea:hover {
	border-color: #007bff;
}

.radio-group {
	margin-bottom: 20px;
}

.radio-group input[type="radio"],
.radio-group label {
	display: inline-block;
	vertical-align: middle;
}

.radio-group input[type="radio"] {
	margin-right: 5px;
}

.required-star {
	color: red;
	margin-left: 4px;
	font-size: 0.65em;
	vertical-align: super;
}

.required-message {
	color: #333;
	font-size: 0.7em;
	margin-top: 20px;
}

/* Footer Styles */

footer {
	background: var(--primary2);
}

.foot a {
	font-size: 1em;
	text-decoration: underline;
}

.foot2 {
	text-align: center;
	font-size: 1.7em;
	margin: 0;
	padding: 0;
}

.foot2 p {
	font-size: 0.75em;
	margin-top: 0;
}

#approved {
	width: 60%;
	margin-bottom: 0;
}

.advert {
	color: white;
	font-size: 0.9em;
	background-color: #4682b4;
}

@media screen and (min-width: 768px) {
	html {
		font-size: 1.6em;
	}

	#topOne {
		margin: 0;
		padding: 0;
	}

	/* Header Styles */

	/* Body Styles */
	.parallax1 {
		min-height: 50vh;
	}

	.parallax2 {
		min-height: 45vh;
	}

	/* Services Page Styles */

	#css-group {
		display: block;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

	#css-group img {
		width: 80%;
	}

	.first-paragraph::first-letter {
		font-size: 3rem;
		color: var(--secondary-text);
		float: left;
		margin-right: 0.5rem;
		margin-top: -10px;
		font-family: "Times New Roman", Times, serif;
	}

	/* Staff Page Styles*/

	.staff-body {
		text-align: center;
		margin: 0 auto;
	}

	.staff2,
	.pam,
	.melissa {
		display: flex;
		flex-direction: row; /* side-by-side layout */
		align-items: center; /* Align items vertically in the center */
	}

	.staff2 img,
	.staff2 div,
	.pam div,
	.melissa img,
	.melissa div {
		order: 0; /* Reset the order */
		width: 50%; /* Adjust width as needed */
	}

	.pam img {
		order: 0;
		width: 38%;
		margin-right: 80px;
	}

	.dristre {
		width: 45%;
		text-align: center;
		margin: 50px auto;
	}

	.dristre img {
		width: 70%;
		border-radius: 40px;
	}

	.dristre h4,
	h5 {
		margin: 0;
	}

	/* Footer Styles */
	footer {
		padding-top: 10px;
	}

	.foot a {
		font-size: 0.75em;
	}

	.foot {
		display: flex;
		justify-content: space-between;
		margin: 2% 2%;
	}

	.foot2 p {
		margin-top: 0;
		font-size: 0.75em;
		font-family: Cabin, Arial, Helvetica, sans-serif;
	}

	.advert {
		display: flex;
		justify-content: space-between;
		padding: 0 2%;
	}
}

@media screen and (min-width: 913px) {
	#toptop {
		display: flex;
		justify-content: flex-end;
		font-size: 0.75em;
		font-family: Lora, "Times New Roman", Times, serif;
	}

	.homeImg img {
		width: 100%;
	}

	/* Therapy Styles */

	.therapy-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		background: var(--primary2);
	}

	.therapy {
		width: 55%;
		margin: 20px auto;
	}

	.therapy img {
		width: 60%;
		margin: 0 auto;
		border-radius: 10px;
	}

	#approved {
		width: 30%;
		margin-top: 20px;
	}

	/* Schedule Styles */

	.staffpic {
		display: block;
		text-align: center;
	}

	.staffpic img {
		display: inline-block;
		width: 50%;
	}

	.table2 {
		margin-left: auto;
		margin-right: 20%;
		margin-top: 20px;
		width: 80%;
		font-size: 1.5em;
		border: 2px solid black;
	}

	.table1 {
		margin-left: 20%;
		margin-top: 20px;
		width: 80%;
		font-size: 1.5em;
		border: 2px solid black;
	}

	/* Contact Styles */
	.form-container {
		width: 55%;
		margin: 0 auto;
	}

	/* Location Styles */
	.location {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 100%;
	}

	.location p {
		font-size: 1.2em;
		margin: 0 0 0 30px;
		padding: 0;
	}

	.maplink {
		width: 500px;
		height: auto;
	}

	/* Staff Styles */
}

@media screen and (min-width: 1025px) {
	/* Hero Style */

	/* Body Styles */
	.parallax1 {
		min-height: 85vh;
	}

	h2 {
		font-size: 1.2em;
	}

	h3 {
		font-size: 1.1em;
	}

	h4 {
		text-align: center;
		font-size: 1.2em;
	}

	.container,
	.container2,
	.container3 {
		display: flex;
		justify-content: space-between;
	}

	.therapy-container {
		display: flex;
		justify-content: space-around;
	}

	.therapy-container a {
		margin: 0 40px 0 30px;
	}

	.parallax2 {
		min-height: 90vh;
	}

	/* Services Styles */

	.services {
		flex: 1 1 35%;
		margin: 10px 10px;
	}

	.services img {
		width: 100%;
		border-radius: 10px;
	}

	article {
		width: 65%;
		margin: 0 auto;
		font-size: 1em;
	}

	.column {
		width: 33%;
		margin: 60px 0;
	}
}

@media screen and (min-width: 1369px) {
	.homeImg {
		width: 100%;
		text-align: center;
	}

	.homeImg img {
		width: 80%;
	}

	.cta1 {
		font-size: 1.8em;
		position: absolute;
		width: 80%;
		top: 90%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9);
		text-align: center;
		background-color: rgba(255, 255, 255, 0.1);
	}

	.cta2 {
		position: absolute;
		width: 40%;
		top: 96%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
	}

	#css-group img {
		width: 50%;
	}
}
