:root {
	--text: #000000; /* Default placed here in case we want to change to option later */
	--secondary-text: rgb(107, 0, 62);
	--primary: #9b6ecd;
	--secondary: #acd1e4;
	--css-linear: linear-gradient(
		to bottom right,
		#9b6ecd 0%,
		#9b6ecd 50%,
		#a195d7 65%,
		#a8bbdf 75%,
		#acd1e4 100%
	);

	--css-linear-flip: linear-gradient(
		to top right,
		#9b6ecd 0%,
		#9b6ecd 50%,
		#a195d7 65%,
		#a8bbdf 75%,
		#acd1e4 100%
	);

	--css-middle: linear-gradient(
		to right,
		#9b6ecd 0%,
		#9b6ecd 25%,
		#a195d7 35%,
		#a8bbdf 45%,
		#acd1e4 50%,
		#a8bbdf 55%,
		#a195d7 65%,
		#9b6ecd 75%,
		#9b6ecd 100%
	);

	--css-top-mid: linear-gradient(
		to bottom right,
		#acd1e4 0%,
		#acd1e4 4%,
		#a8bbdf 10%,
		#a195d7 15%,
		#9b6ecd 50%,
		#a195d7 85%,
		#a8bbdf 90%,
		#acd1e4 96%,
		#acd1e4 100%
	);
}

* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	border: 0;
	font: 1.1em Arial, Helvetica, sans-serif;
	/*background: var(
		--luminous-dusk
	); /* --pale-ocean, --blush-light-purple, --midnight */
}

.logo {
	text-align: center;
	background-color: var(--primary);
}

#mainLogo {
	width: 40%;
	padding: 0;
	margin-top: 5px;
}

/* Navigation Styles */

nav {
	background: var(--css-linear);
}

nav ul {
	display: none;
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}

a {
	text-decoration: none;
	font-size: 1.3em;
	line-height: 1.6em;
	color: var(--text);
}

a#navicon:hover + ul,
nav ul:hover {
	display: block;
}

h1 {
	font-size: 2em;
	text-align: center;
}

h2 {
	font-size: 1.5em;
}

h4 {
	align-items: center;
}

/* Button Styles */
button {
	margin: 20px 0 30px 25px;
	width: 200px;
	height: 30px;
	transition: transform 0.3s ease;
	border-radius: 10px;
	font-family: Alkatra, Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: var(--text);
	background: var(--css-linear);
}

button:active,
button:hover {
	background: var(--secondary);
	color: var(--secondary-text);
}

button:active,
input[type="submit"]:active {
	background-color: var(--primary);
	color: var(--secondary-text);
}

/* Call to Action */

.cta1 {
	margin-top: -6px;
	margin-bottom: 0;
}

.cta2 {
	margin: 0 auto;
	padding: 2px;
	text-align: center;
	width: 80%;
	background: var(--css-linear);
	border: 2px solid black;
	border-radius: 20px;
	text-decoration: underline;
}

/* Body Styles */

.parallax1 {
	background-image: url(../images/happy-family.jpg);
	min-height: 30vh;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: relative;
}

.parallax2 {
	background-image: url(../images/css-staff-23.jpg);
	min-height: 35vh;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: relative;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: var(--css-top-mid);
}

.container3 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: var(--css-linear-flip);
}

.container2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: var(--css-linear);
}

.services {
	flex: 1 1 30%;
	margin: 10px 20px;
}

.services img {
	width: 100%;
	border-radius: 10px;
}

/* Services Styles */

.body-div {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-gap: 20px;
}

.center-logo {
	width: 100%;
	grid-row: 1;
}

.first-paragraph {
	grid-row: 2;
}

/* Staff Page Styles */

.staffHeader {
	width: 100%;
}

.staff h4,
.staff h5 {
	margin: 0;
}

.staff {
	text-align: center;
	flex: 1 1 350px;
	margin: 10px 20px;
}

.staff ul {
	list-style: none;
}

.staff img {
	width: 100%;
	margin-top: 20px;
	border-radius: 10px;
}

.staff2 {
	display: flex;
}

.staff2 img {
	width: 100%;
	margin-top: 20px;
	border-radius: 10px;
}

/* Therapy Pups Styles */

.pups {
	border-radius: 50%;
	width: 100%;
}

figcaption {
	text-align: center;
	margin-top: 10px;
	font-weight: bold;
	font-size: 1.3em;
}

figure ul {
	list-style: none;
	text-align: center;
	margin-left: -30px;
}

/* Newletter Styles */

article {
	font-size: 1.1em;
	width: 100%;
}

article img {
	width: 100%;
	border-radius: 10px;
}

article h6 {
	margin: 0;
}

/* Location Styles */

.location {
	display: block;
	margin-bottom: 50px;
}

.location img {
	width: 100%;
}

/* Contact Page Styles */
.form-container {
	padding: 10px;
}

#msg {
	margin-bottom: 30px;
}

#msg {
	margin-bottom: 30px;
}

.input-div label {
	display: block;
	margin-bottom: 5px;
}

.input-div input[type="text"],
.input-div textarea {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	margin-bottom: 15px;
}

.input-div input[type="text"]:hover,
.input-div textarea:hover {
	border-color: #007bff;
}

#contact-form textarea {
	resize: vertical;
}

/* Footer Styles */

footer {
	background: var(--css-linear-flip);
}

.advert {
	color: white;
	font-size: 0.9em;
	background-color: #7a5189;
}

@media screen and (min-width: 768px) {
	html {
		font-size: 1.6em;
	}

	#topOne {
		margin: 0;
		padding: 0;
	}

	#topTwo {
		margin: 5px 0;
		padding: 0;
	}

	/* Header Styles */

	#mainLogo {
		width: 25%;
	}

	/* Body Styles */
	.parallax1 {
		min-height: 50vh;
	}

	.parallax2 {
		min-height: 45vh;
	}

	.squeeze {
		width: 70%;
		text-align: center;
		margin: 0 auto;
	}

	/* Services Page Styles */

	section {
		display: grid;
		grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax(
				2rem,
				1fr
			);
		row-gap: 3rem;
		margin-bottom: 150px;
	}

	.body-div {
		display: inline;
		grid-column: 2/3;
		font-size: 1.8rem;
		letter-spacing: 0.6px;
		column-width: 25rem;
		text-align: justify;
	}

	.center-logo {
		width: 100%;
		margin: auto;
		display: block;
		grid-column: 1 / -1;
		justify-self: center;
	}

	.first-paragraph::first-letter {
		font-size: 5rem;
		color: var(--secondary-text);
		float: left;
		margin-right: 1rem;
		margin-top: -20px;
		font-family: "Times New Roman", Times, serif;
	}

	/* Staff Page Styles*/

	.staff2 {
		text-align: center;
		align-items: center;
		justify-content: space-around;
	}

	.staff2 img {
		max-width: 45%;
		margin: 20px;
	}

	.dristre {
		width: 45%;
		text-align: center;
		margin: 50px auto;
	}

	.dristre img {
		width: 70%;
		border-radius: 40px;
	}

	.dristre h4,
	h5 {
		margin: 0;
	}

	.mel {
		width: 45%;
		text-align: center;
		margin: 50px auto;
	}

	.mel img {
		width: 100%;
		border-radius: 10px;
	}

	.mel h4,
	h5 {
		margin: 0;
	}

	/* Footer Styles */
	footer {
		padding-top: 10px;
	}

	.foot {
		display: flex;
		justify-content: space-between;
		margin: 2% 2%;
	}

	.foot2 {
		text-align: center;
		font-size: 1.7em;
		margin: 0;
		padding: 0;
	}

	.advert {
		display: flex;
		justify-content: space-between;
		padding: 0 2%;
	}
}

@media screen and (min-width: 913px) {
	#toptop {
		display: flex;
		justify-content: space-between;
		font-size: 1em;
	}

	#mainLogo {
		width: 15%;
	}

	.form-container {
		text-align: center;
	}

	.input-div label {
		margin-bottom: 10px;
	}

	.input-div input[type="text"],
	.input-div textarea {
		width: 40%;
		padding: 10px;
		margin-bottom: 20px;
	}
}

/* Location Styles */
.location {
	display: flex;
	justify-content: center;
	align-items: center;
}

.location img {
	width: 45%;
}

.location p {
	font-size: 1.2em;
	margin-left: 30px;
}

@media screen and (min-width: 1025px) {
	/* Header Styles */
	.navLogo {
		display: flex;
	}

	#mainLogo {
		width: 60%;
		margin-top: 5px;
	}

	html {
		font-size: 1.1em;
	}

	/* Navigation Styles */
	a#navicon {
		display: none;
	}

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		font-size: 1em;
		font-weight: bold;
	}

	.navFirst {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	.navFirst ul {
		list-style-type: none;
		display: flex;
		margin: 0;
		padding: 0;
	}

	.navFirst ul li {
		margin-left: 50px;
		font-size: 0.8em;
	}

	.navFirst ul li a {
		text-decoration: none;
		color: black;
	}

	a#navicon:hover + ul,
	nav ul:hover {
		display: flex;
	}

	.navFirst li a:active,
	.navFirst li a:hover {
		display: flex;
		color: rgba(0, 0, 0);
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
	}

	/* Hero Style */
	.cta1 {
		font-size: 2.3em;
		position: absolute;
		top: 90%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9);
		text-align: center;
	}

	.cta2 {
		position: absolute;
		width: 40%;
		top: 96%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	/* Body Styles */
	.parallax1 {
		min-height: 85vh;
	}

	h2 {
		font-size: 1.2em;
	}

	h3 {
		font-size: 1.8em;
	}

	h4 {
		text-align: center;
		font-size: 1.2em;
	}

	.container,
	.container2,
	.container3 {
		display: flex;
		justify-content: space-between;
	}

	.parallax2 {
		min-height: 90vh;
	}

	article {
		width: 65%;
		margin: 0 auto;
		font-size: 1em;
	}
}
